.loader{
    background: #00000078;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: #fff;
    font-size: 20px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}